<div class="tb-dash-empty">
  <span><%= message %></span>
  <% if local_assigns[:action_label].present? && local_assigns[:action_path].present? %>
    <%= link_to action_label, action_path, class: "tb-btn tb-btn-ghost tb-btn-sm" %>
  <% end %>
</div>
